@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Creado por: Sebastian Lopez<br />
    <br />
</address>

<address>
    <strong>Git:</strong>   <a href="https://github.com/anonimo3901/prueba">https://github.com/anonimo3901/prueba</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>